.projects-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.projects-top > h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.projects-top > h3 {
    margin-top: -3.6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.projects-bottom {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    margin-left: 5rem;
    margin-top: -1.7rem;

}

#projects-line {
    margin-top: 2rem;
}

@media only screen and (max-width: 600px) {
    .projects-top > h3 {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .projects-bottom {
        margin-left: 7rem;
        margin-right: 2rem;
        margin-bottom: 7rem;
    }
}