#folder {
    width: 100px;
    height: 100px;
    align-self: center;
    stroke-width: 0.25;
    
}

.project-link {
    color: var(--dark);
    text-decoration: none;
}

.project-link:visited {
    color: var(--dark);
    text-decoration: none;
}

.project-link:hover {
    color: var(--pink);
    text-decoration: none;
}

.project-card {
    display: flex;
    flex-direction: column;
    width: 20rem;
    border: 1px solid var(--dark);
    padding: 1rem;
    padding-top: 2.5rem;
    margin-right: 5rem;
    margin-top: 5rem;
}

.tech-project {
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
}

.tech-stack {
    margin-right: 0.5rem;
    margin-bottom: 0.2rem;
    padding: 0.2rem;
    border: 1px solid var(--pink);
    border-radius: 1rem;
    background-color: var(--pink);

}

#project-name {
    font-weight: 400;
    font-size: 1.3rem;
    margin-bottom: 0.5rem;
}

@media only screen and (max-width: 600px) {
    #folder {
        width: 75px;
    }

    #project-name {
        font-size: 1rem;
    }

    .tech-stack {
        font-size: 0.7rem;
    }

    .project-card {
        margin-right: 3rem;
        width: 10rem;
        height: 12rem;
        margin-bottom: -1rem;
    }
}

@media only screen and (min-width: 1500px) {
    #project-name {
        font-size: 2rem;
    }

    .tech-stack {
        font-size: 1.7rem;
        margin-right: 1rem;
        padding: 0.4rem;
        border-radius: 2rem;
    }

    .project-card {
        margin-right: 5rem;
        width: 30rem;
        height: 15rem;
        margin-bottom: -1rem;
    }


}