  .hero-left {
    margin-left: 8rem;
  }
  
  .hero-left h1 {
    font-size: 5rem;
    font-weight: 350;
  }
  
  .hero-left h3 {
    font-weight: 340;
    font-size: 1.6rem;
    margin-top: -4rem;
    margin-bottom: 4rem;
  }
  
  .hero-resume a {
    font-size: 1.6rem;
    text-decoration: underline;
    text-decoration-color: var(--pink);
    color: var(--dark);
  }

  .hero-arrow {
    width: 20px;
    height: auto;
    margin-left: 0.2rem;
    margin-bottom: -0.3rem;
  }
  
  .hero-resume a:visited {
    color: var(--dark);
  }
  
  .hero-resume a:hover {
    color: var(--pink);
  }
  
  .hero-right {
    margin-left: 5rem;
  }
  
  .hero-image {
    margin-top: -7rem;
    width: 100%;
    max-width: 400px;
    height: auto;
  }
  
  .hero-section hr {
    margin-top: -0.3rem;
  }

  @media only screen and (max-width: 600px) {
    .hero-left {
      margin-left: 3.5rem;
      margin-top: -7rem;
    }

    .hero-right {
      margin-left: -2rem;
      margin-right: 2rem;
    }
  }

  @media only screen and (min-width: 1600px) {
    .hero-left > h1 {
      font-size: 9rem;
      font-weight: 450;
    }

    .hero-left h3 {
      font-size: 2.5rem;
      margin-top: -7rem;
      margin-bottom: 5rem;
    }

    .hero-resume a {
      font-size: 2.5rem;
    }

    .hero-arrow {
      width: 25px;
      height: auto;
      margin-left: 0.2rem;
      margin-bottom: -0.3rem;
    }

    .hero-image {
      margin-top: -7rem;
      width: 100%;
      max-width: 700px;
      height: auto;
      margin-left: 9rem;
    }

  }