.title {
    font-size: 4.5rem;
    font-weight: 900;
    color: var(--dark);
}

.top {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.descri {
    margin-top: -3.6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: left;
    font-size: 1.4rem;
    font-weight: 400;
}

.bottom {
    display: flex;
    flex-direction: column;
    margin-top: 4rem;
    margin-left: 8rem;
    font-size: 1.2rem;
    margin-bottom: 8rem;
}

.bottom h3 {
    color: var(--dark);
    margin-top: -1.2rem;
    font-weight: 400;
    font-size: 1.3rem;
}

@media only screen and (max-width: 600px) {
    section.about-section .descri {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    section.about-section .bottom {
        margin-left: 3.5rem;
        margin-top: 3rem;
    }
}

@media only screen and (min-width: 1600px) {
    .top > h1 {
        font-size: 7rem;
        margin-bottom: 4rem;
    }

    .top > h3 {
        font-size: 2rem;
    }

    .bottom {
        font-size: 2rem;
    }
    
    .bottom h3 {
        font-size: 2rem;
    }
}