.contact-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-top h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.contact-top > h3 {
    margin-top: -3.6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.contact-bottom {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark);
    width: 40rem;
    padding-left: 1.5rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-bottom > h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

.contact-bottom > h4 {
    margin-top: -1.6rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-channels {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.channel > a {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: var(--dark);
}

.channel > a:hover {
    color: var(--pink);
}

.channel > a:visited {
    color: var(--dark);
}

.channel {
    display: flex;
    flex-direction: row;
}

.channel-icon {
    width: 20px;
    height: 20px;
    margin-top: 0.2rem;
}

.pixel-contact-img {
    width: 400px;
    height: auto;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}