.contact-top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.contact-top h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.contact-top > h3 {
    margin-top: -3.6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.contact-bottom {
    display: flex;
    flex-direction: column;
    border: 1px solid var(--dark);
    width: 40rem;
    padding-left: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.contact-bottom > h2 {
    font-size: 2.3rem;
    font-weight: 600;
}

.contact-bottom > h4 {
    margin-top: -1.6rem;
    font-size: 1.3rem;
    font-weight: 400;
}

.contact-channels {
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
}

.channel > a {
    margin-bottom: 1.5rem;
    font-size: 1.2rem;
    margin-left: 0.5rem;
    color: var(--dark);
}

.channel > a:visited {
    color: var(--dark);
}

.channel > a:hover {
    color: var(--pink);
}

.channel {
    display: flex;
    flex-direction: row;
}

.channel-icon {
    width: 20px;
    height: 20px;
    margin-top: 0.2rem;
}

.pixel-contact-img {
    width: 400px;
    height: auto;
    margin-top: 3rem;
    margin-left: auto;
    margin-right: auto;
}

/* Hidden by default */
.hidden {
    opacity: 0;
    transition: all 1s;
    transform: translateX(-5%);
  }
  
  .show {
    opacity: 1;
    transform: translateX(0);
  }

  @media(prefers-reduced-motion) {
    .hidden {
      transition: none;
    }
  }

@media only screen and (max-width: 600px) {
    .contact-top > h3 {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }

    .contact-top {
        margin-bottom: 3rem;
    }

    .pixel-contact-img {
        width: 275px;
        height: auto;
    }

}

@media only screen and (min-width: 1600px) {
    .contact-top > h1 {
        font-size: 7rem;
        margin-bottom: 4rem;
    }

    .contact-top > h3 {
        font-size: 2rem;
    }

    .contact-bottom {
        padding-left: 3rem;
    }

    .contact-bottom > h2 {
        font-size: 3rem;
        font-weight: 600;
    }
    
    .contact-bottom > h4 {
        margin-top: -1.6rem;
        font-size: 1.7rem;
    }

    .channel > a {
        font-size: 1.7rem;
    }

    .channel-icon {
        width: 27px;
        height: 27px;
        margin-top: 0.5rem;
    }




}