  #logo {
    font-weight: 900;
  }
  
  .navbar-left a {
    color: var(--dark);
    margin-left: 1.5rem;
    text-decoration: none;
  }
  
  .navbar-right a {
    color: var(--dark);
    margin-right: 1.5rem;
    text-decoration: none;
  }
  
  .navbar a:visited {
    color: var(--dark);
  }
  
  .navbar a:hover {
    text-decoration: underline;
    text-decoration-color: var(--pink);
  }

  @media only screen and (min-width: 1500px) {
    .navbar-left {
      font-size: 2rem;
    }

    .navbar-right {
      font-size: 2rem;
    }
  }


  