.deco {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.star {
  width: 24px;
  height: 24px;
  color: var(--pink);
  margin-bottom: 2.5rem;
}

#loc {
    color: var(--pink);
    margin-bottom: 0.8rem;
    margin-top: -1rem;
}

.line {
  transform: rotate(90deg);
  width: 5rem;
}
.card {
  display: flex;
  flex-direction: row;
  margin-left: 10rem;
  margin-right: 15rem;
  margin-bottom: 2rem;
}

.job {
  margin-left: 2rem;
  margin-top: -1.8rem;
  
}

.job h3 {
  font-size: 1.2rem;
}

#exp-descri {
    font-weight: 400;
    margin-top: -0.5rem;
}
