.top {
    display: flex;
    flex-direction: column;
    text-align: center;
}

.top h1 {
    font-size: 4.5rem;
    font-weight: 900;
}

.top > h3 {
    margin-top: -3.6rem;
    margin-left: 15rem;
    margin-right: 15rem;
    text-align: center;
    font-size: 1.4rem;
    font-weight: 400;
}

.bottom-exp {
    margin-top: 5rem;
    margin-bottom: 6rem;
}

@media only screen and (max-width: 600px) {
    .top > h3 {
        margin-left: 3.5rem;
        margin-right: 3.5rem;
    }
}