:root {
    font-family: "Cormorant Garamond", serif;
    font-optical-sizing: auto;
    font-style: normal;
  
    --dark: #3C3C3C;
    --background: #F9F8F4;
    --pink: #D4A5A5;
    --green: #CDDFC4;
    --grey: #7B7B7B;
  
  }
  
  body {
    background-color: var(--background);
    color: var(--dark);
  
  }

.navbar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    font-size: 1.3rem;
  }

  .hero-container {
    display: flex;
    flex-direction: row;
    margin-top: 14rem;
  }

@media only screen and (max-width: 600px) {
  #root {
    width: fit-content;
  }
}

html.lenis,
html.lenis body {
  height: auto;
}

.lenis:not(.lenis-autoToggle).lenis-stopped {
  overflow: clip;
}

.lenis.lenis-smooth [data-lenis-prevent] {
  overscroll-behavior: contain;
}

.lenis.lenis-smooth iframe {
  pointer-events: none;
}

.lenis.lenis-autoToggle {
  transition-property: overflow;
  transition-duration: 1ms;
  transition-behavior: allow-discrete;
}
