:root {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;

  --dark: #3C3C3C;
  --background: #F9F8F4;
  --pink: #D4A5A5;
  --green: #CDDFC4;
  --grey: #7B7B7B;

}

html {
  scroll-behavior: smooth;
}




