:root {
  font-family: "Cormorant Garamond", serif;
  font-optical-sizing: auto;
  font-style: normal;

  --dark: #3C3C3C;
  --background: #F9F8F4;
  --pink: #D4A5A5;
  --green: #CDDFC4;
  --grey: #7B7B7B;

}

body {
  background-color: var(--background);
  color: var(--dark);

}

.navbar {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  font-size: 1.2rem;
}

.navbar-left a {
  margin-left: 1.5rem;
  text-decoration: none;
}

.navbar-right a {
  margin-right: 1.5rem;
  text-decoration: none;
}

.navbar a:visited {
  color: var(--dark);
}

.navbar a:hover {
  text-decoration: underline;
  text-decoration-color: var(--pink);
}

.hero-container {
  display: flex;
  flex-direction: row;
}

.hero-left {
  margin-top: 13rem;
  margin-left: 7rem;
}

.hero-left h1 {
  font-size: 4rem;
  font-weight: 350;
}

.hero-left h3 {
  font-weight: 340;
  font-size: 1.3rem;
  margin-top: -3rem;
  margin-bottom: 3rem;
}

.hero-left a {
  font-size: 1.3rem;
  text-decoration: underline;
  text-decoration-color: var(--pink);
}

.hero-left a:visited {
  color: var(--dark);
}

.hero-left a:hover {
  color: var(--pink);
}




